# Rust
/target/
/backend/.env
**/*.rs.bk

# Node
node_modules/
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Automation files
/automations/*.yaml
